#tab2, #tab3, #tab4, #tab5 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 #tab5:target ~ a:nth-of-type(1),
.menu1 > div { 
	border: none;

    padding: 5px; }

.menu1 > a { 
   color: #23282d;
    margin: 1em 0;
	margin-right: 10px;
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

    line-height: 1.42857;
    font-weight: bold;
	}
.menu1 > a:hover { 
   color: #fff;
    margin: 1em 0;
	margin-right: 10px;
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
background-color: #23282d;
    line-height: 1.42857;
    font-weight: bold;
	}
.menu1 { 
margin-top: 20px;
	}	
#tab2,
#tab3,
#tab4,
#tab5,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1),
.menu1 #tab4:target ~ div:nth-of-type(1),
.menu1 #tab5:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),	
.menu1 #tab4:target ~ div:nth-of-type(4),	
.menu1 #tab5:target ~ div:nth-of-type(5) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4),
.menu1 #tab5:target ~ a:nth-of-type(5) { border:none; }


#my_ip_rem_but {
	color: #ffffff;
    background: #dc4444;
    margin: 1em 0;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    line-height: 1.42857;
    font-weight: bold;
}
#my_ip_rem_but:hover {
	color: #ffffff;
    background: #e42121;
}




table.table_admin {
    max-width: 100%;
    border-color: grey;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .875rem;
    color: #2d2d2d;
    line-height: 1.3125;
    font-weight: normal;
	margin-bottom: 0;
    }
	
	table.table_admin tr {
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
	    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .875rem;
    color: #2d2d2d;
    line-height: 1.3125;
    font-weight: normal;
	}
	
	table.table_admin th {
	border-top: 0;
	vertical-align: bottom;
    border-bottom: 2px solid #ddd;
	padding: 8px;
    line-height: 1.42857;
	font-weight: bold;
		    display: table-cell;
		text-align: left;
	} 
	
	table.table_admin td {
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .875rem;
    color: #2d2d2d;
    line-height: 1.3125;
    font-weight: normal;
		    padding: 5px;
		    vertical-align: top;
    border-top: 1px solid #ddd;
	}
	
	.ip-settings-con {
	display: grid;
	}
	.donate {
	display: block;
    margin-top: 10px;
	}
	
	.table-ip {
	grid-row: 1/2;
	width: 1100px;
	position: relative;
    margin: 10px 10px 8px;
    padding: 0 1rem;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(200,215,225,0.5), 0 1px 2px #e9eff3;
	}
	
	.table-info {
	grid-row: 1/2;
	position: relative;
    margin: 10px 10px 8px;
    padding: 0 1rem;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(200,215,225,0.5), 0 1px 2px #e9eff3;
	}
	.full-width{
	width: auto;
	}
table.form-table th {
	width: 280px !important;
	}
	@media (max-width: 1480px) {
	.table-info {
	max-width: 1100px;
	display: inherit;
	grid-row: none;
	position: relative;
    margin: 10px 10px 8px;
   	}
	.full-width{
	width: 1100px;
	}
	}